%h2 #{@club.name} (#{@club.abbrev})

%section
	- if @club.contact_person
		Contactpersoon:
		= render @club.contact_person
	- else
		Geen contactpersoon bekend. Ben je contactpersoon van deze club? Neem dan even contact op met de NGC organisatie
%hr
%section
	= markdown @club.info || ''

- if current_user
	= link_to 'Bewerken', edit_club_path(@club), class: :button

- if @club.venues.present?
	%hr
	%section
		%h3 Speellokatie#{@club.venues.count > 1 ? 's' : ''}
		- @club.venues.order(:name).each do |venue|
			%section
				%h4
					#{['Zondag','Maandag','Dinsdag','Woensdag','Donderdag','Vrijdag','Zaterdag'][venue.playing_day]} om #{venue.playing_time}
					#{link_to venue.name, venue}
					#{venue.address}, #{venue.city}
				= markdown venue.info || ''

%hr
%section
	%h3 Teams
	= render @teams
%hr
%section
	%h3 Wedstrijden
	= render @matches, :@show => [:venue, :date]
%hr
%section
	%h3 Spelers
	= render @participants

