.form_inputs
	= f.association :league, collection: @season.leagues
	= f.association :club, collection: Club.order(:name)
	= f.association :captain, collection: Person.order(:firstname)
	= f.input :name
	= f.input :abbrev
	= f.simple_fields_for :team_members, @members do |m|
		.row
			.small-2.columns
				= m.input :id, as: :hidden
				= m.input :board_number
			.small-10.columns
				= m.association :participant, collection: @season.participants.order(:firstname, :lastname)
