%h1 Listing teams

%table
  %tr
    %th{colspan:2} Naam
    %th{colspan:2} Klasse
    %th{colspan:3} Bord 1
    %th{colspan:3} Bord 2
    %th{colspan:3} Bord 3

  - @teams.each do |team|
    %tr
      %td{colspan:2}= link_to team.name, team
      %td{colspan:2}= team.league.name
      %td{colspan:3}= team.team_members.first.name
      %td{colspan:3}= team.team_members.second.name
      %td{colspan:3}= team.team_members.third.name
      / %td
      /   = link_to edit_team_path(team), title: 'Bewerken' do
      /     = fa_icon 'pencil'
      /   = link_to team, :method => :delete, :data => { :confirm => 'Are you sure?' }, title: 'Verwijderen' do
      /     = fa_icon 'trash-o'

%br

= link_to 'New Team', new_team_path
