- teams = league.teams.to_a.sort_by(&:placement_criteria).reverse
%table.league-standings
	%tr
		%th.team-name
		- teams.each do |team|
			%th.team-abbrev= team.abbrev
		%th.pts WP
		%th.pts BP
	- teams.each do |team1|
		%tr
			%th.team-name
				= link_to team1 do
					%span.show-for-medium-up= team1.name
					%span.hide-for-medium-up= team1.abbrev
				- teams.each do |team2|
					- if team1.id == team2.id
						%td &times;
					- else
						- match, result, status, venue = league.standings[team1.id][team2.id]
						%td{class: status}
							- if match
								= link_to match, title: venue.name do
									- if result
										= result
									- else 
										%small= match.playing_date.strftime("%e/%-m")
				%th= team1.score
			%th= team1.points
	- if @fill_rows_upto
		- (@fill_rows_upto - teams.length).times do
			%tr.show-for-large-up
				%th.team-name
				- teams.length.times do
					%td
						%small &nbsp;
				%th &nbsp;
				%th &nbsp;