- teams = league.teams.to_a.sort_by(&:placement_criteria).reverse
%table.league-standings
	%tr
		%th.team-name
		- teams.each do |team|
			%th.team-abbrev= team.abbrev
		%th.pts WP
		%th.pts BP
	- teams.each do |team1|
		%tr
			%th.team-name
				= link_to team1 do
					%span.show-for-medium-up= team1.name
					%span.hide-for-medium-up= team1.abbrev
				- teams.each do |team2|
					- if team1.id == team2.id
						%td &times;
					- else
						- if league.standings[team1.id][team2.id].empty?
							%td
								-if current_user
									= link_to '>>', new_match_path(league_id: league.id, black_team_id: team1.id, white_team_id: team2.id)
						- else
							- match, result, status, venue = league.standings[team1.id][team2.id]
							%td{class: status}
								= link_to match, title: venue.city do
									- if result
										= result
									- else 
										%span{style:'font-size:85%'}= match.playing_date.strftime("%e/%-m")
				%th= team1.score
			%th= team1.points
	- if @fill_rows_upto
		- (@fill_rows_upto - teams.length).times do
			%tr.show-for-large-up
				%th.team-name
				- teams.length.times do
					%td
						%small &nbsp;
				%th &nbsp;
				%th &nbsp;