- if @season.information.present?
	%section
		= markdown @season.information
	%hr
%h2 Stand #{@season.name}
- @leagues.each_slice(2) do |league1,league2|
	.row
		.small-12.large-6.columns
			%h3= link_to league1.name, league1
			= render partial: 'standings', locals: { league: league1 }
		- if league2
			.small-12.large-6.columns
				%h3= link_to league2.name, league2
				= render partial: 'standings', locals: { league: league2, :@fill_rows_upto => 6 }
