%h1= @league.name

%h3 Stand

= render partial: 'standings', locals: { league: @league }

%h3 Rooster

= render partial: 'matches/list', locals: { matches: @league.matches.order(:playing_date, :playing_time) }

- if current_user

	= render partial: 'participants/list'

	= link_to 'Poule Bewerken', edit_league_path(@league), class: 'button'

	= link_to 'Team Toevoegen', new_league_team_path(@league), class: 'button'