%h2= @league.name
%section
	%h3 Stand
	= render partial: 'standings', locals: { league: @league }
%section
	%h3 Wedstrijden
	= render @matches, :@show => [:venue, :date]
%hr
%section
	%h3 Teams
	= render @teams

- if current_user
	%hr
	%section
		%h3 Spelers
		= render @participants
	%hr
	%section
		= link_to 'Poule Bewerken', edit_league_path(@league), class: 'button'
		= link_to 'Team Toevoegen', new_league_team_path(@league), class: 'button'