%h1= @league.name

%p
	%h3 Stand
	= render partial: 'standings', locals: { league: @league }

%p
	%h3 Rooster
	= render @matches, :@show => [:venue, :date]

%p
	%h3 Teams
	= render @teams

- if current_user

	%p
		%h3 Spelers
		= render @participants

	%p
		= link_to 'Poule Bewerken', edit_league_path(@league), class: 'button'
		= link_to 'Team Toevoegen', new_league_team_path(@league), class: 'button'