%h1
	= @person.firstname
	= @person.lastname

%p
	%h3 Gegevens
	%br
	Email:
	= @person.email
	%br
	Email 2:
	= @person.email2
	%br
	Telefoon:
	= @person.phone
	%br
	Telefoon 2:
	= @person.phone2

= link_to 'Persoon Bewerken', edit_person_path(@person), class: 'button'
