%h2= @person.name

%section
	%br
	%strong Email:
	= @person.email
	%br
	%strong Email 2:
	= @person.email2
	%br
	%strong Telefoon:
	= @person.phone
	%br
	%strong Telefoon 2:
	= @person.phone2
- if current_user
	%hr
	%section
		= link_to 'Persoon Bewerken', edit_person_path(@person), class: 'button'
