= simple_form_for(@participant) do |f|
	= f.error_notification

	.form-inputs
		= f.input :firstname
		= f.input :lastname
		= f.input :rating
		= f.input :egd_pin
		= f.input :rank, as: :string, input_html: { value: f.object.rank }
		= f.association :club

	.form-actions
		= f.submit 'Opslaan', class: 'button'
