%h1
	= @participant.firstname
	= @participant.lastname
	(#{@participant.rating})
%p
	Club:
	= link_to @participant.club.name, @participant.club
%p
	Partijen:
	%table
		= render @games

- if current_user
	= link_to 'Deelnemer bewerken', edit_participant_path(@participant), class: 'button'
