%h2= @participant.name
%section
	Seizoen: #{@participant.season.name}
	%br
	Club:
	= link_to @participant.club.name, @participant.club
	%br
	- if @participant.team_member
		Team:
		= link_to @participant.team_member.team.name, @participant.team_member.team
	%br
	Individuele prestatie: #{@participant.rating_performance}

%hr
%section
	%h3 Partijen
	= render @games

- if current_user
	%hr
	%section
		= link_to 'Deelnemer bewerken', edit_participant_path(@participant), class: 'button'
