= simple_form_for(@venue) do |f|
	= f.error_notification

	.form-inputs
		= f.association :club
		= f.input :name
		= f.input :address
		= f.input :city
		= f.input :playing_day
		= f.input :playing_time
		= f.input :info

	.form-actions
		= f.submit 'Opslaan', class: 'button'
