%h1 Speellokaties

%table
  %tr
    %th Naam
    %th Speeldag
    %th Starttijd
    %th{colspan:2} Info
    / %th

  - @venues.each do |venue|
    %tr
      %td= link_to venue.name, venue
      %td= ['zondag','maandag','dinsdag','woensdag','donderdag','vrijdag','zaterdag'][venue.playing_day]
      %td= venue.playing_time
      %td{colspan:2}= venue.info
      / %td
      /   = link_to edit_venue_path(venue), title: 'Bewerken' do
      /     = fa_icon 'pencil'
      /   = link_to venue, :method => :delete, :data => { :confirm => 'Are you sure?' }, title: 'Verwijderen' do
      /     = fa_icon 'trash-o'

%br

= link_to 'New Venue', new_venue_path
