%h1= @venue.name

= markdown @venue.info || ''

- if current_user
	= link_to 'Lokatie bewerken', edit_venue_path(@venue), class: 'button'

%p
	Speelavond: Iedere
	= ['zondag','maandag','dinsdag','woensdag','donderdag','vrijdag','zaterdag'][@venue.playing_day]
	om
	= @venue.playing_time

%h3 Wedstrijden
%table
	%tr
		%th Datum/tijd
		%th Speellokatie
		%th Zwart
		%th Wit
		%th Resultaat
	= render @venue.matches.order(:playing_date, :playing_time)

