%p#notice= notice

%p
  %b Match:
  = @game.match
%p
  %b Black:
  = @game.black
%p
  %b White:
  = @game.white
%p
  %b Black points:
  = @game.black_points
%p
  %b White points:
  = @game.white_points
%p
  %b Reason:
  = @game.reason

= link_to 'Edit', edit_game_path(@game)
\|
= link_to 'Back', games_path
