- @show ||= []
.row.collapse
	.small-11.medium-8.columns
		.row.collapse
			.small-6.columns= match.black_team.name
			.small-6.columns
				\-
				= match.white_team.name
	.small-1.column= match.result
	.medium-3.show-for-medium-up.columns
		- if @show.include? :date 
			= l match.playing_date, format: :short
		= match.playing_time
		- if @show.include? :venue 
			= link_to match.venue.city, match.venue
