%p
	%h5
		= match.played? ? 'Gespeeld' : 'Gepland'
		#{l match.playing_date, format: :short_with_day} om #{match.playing_time} te
		#{link_to match.venue.city, match.venue}:
	%strong.row.collapse
		.small-1.columns Bord
		.small-11.columns
			.row.collapse
				.small-11.columns
					.small-6.columns #{match.black_team.name}
					.small-6.columns - #{match.white_team.name}
				.small-1.columns #{match.result}
	- match.games.order(:board_number).each_with_index do |game,index|
		.row.collapse
			.small-1.columns #{index+1}
			.small-11.columns
				= render game

