%h2 #{@match.black_team.name} - #{@match.white_team.name}
%p#notice= notice

%p
	= render partial: 'match_details', locals: {match: @match}

= link_to 'Bewerken', edit_match_path(@match), class: 'button'
